body {
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  text-align: center;
}
.titulo {
  color: red;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
.info {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
.logo {
  border: 10px solid black;
  display: inline-block;
  padding-bottom: 0px;
  transform: scalex(3);
}

nav li {
  font-size: 25px;
  list-style: none;
}

#canchas img {
  height: 700px;
  width: 1200px;
}
#hola {
  position: relative;
  bottom: 300px;
  left: 700px;
  transform: rotate(35deg);
}
.corregir {
  margin-top: 0px;
  padding-top: 0px;
}

.logo1 {
  transform: translate(20px);
}
.subtitulo {
  color: red;
  transition: all 1s;
}                                                       /* transicion */
.subtitulo:hover {
  font-family: sans-serif;
  font-size: 50px;      
  color: green;
}
input {
  width: 100px;
  transition: all 1s;
}                              
input:focus {                /* focus */
  width: 400px;
  background-color: aqua;
}

@keyframes efecto {
  0% {background-image: url(../img/pelota.jpg);}
  50% {background-image:url(../img/correr.jpg);}
  100% {background-image: url(../img/playa.jpg);}
}
body {
  animation-name: efecto;
  animation-duration: 10s;
}
