body {
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  text-align: center;
}
.titulo {
  color: red;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
.info {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
.logo {
  border: 10px solid black;
  display: inline-block;
  padding-bottom: 0px;
}

nav li {
  font-size: 25px;
  list-style: none;
}

#canchas img {
  height: 700px;
  width: 1200px;
}
#hola {
  position: relative;
  bottom: 300px;
  left: 700px;
}
.corregir {
  margin-top: 0px;
  padding-top: 0px;
}
